.landingSlider {
    height: 659px;
    position: relative;
}

.landingSliderSvgWrapper {
    display: flex;
    width: 182px;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.landingSliderImgLongPin {
    position: absolute;
    top: 0;
    left: 45%;
    transform: translateX(-45%);
}

.landingSliderImgMedPin {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.landingSliderImgShortPin {
    position: absolute;
    top: 0;
    left: 57%;
    transform: translateX(-57%);
}

landingSliderImgLongPinTwo {
    position: absolute;
    top: 0;
    right: 45%;
    transform: translateX(-45%);
}

.landingSliderArrowBtnLeft {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 112px;
    left: 47%;
    transform: translateX(-47%);
    border-radius: 50%;
    border: 2px solid #D6D6D6;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 5;
}

.landingSliderArrowBtnRight {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 112px;
    left: 53%;
    transform: translateX(-53%) rotate(180deg);
    border-radius: 50%;
    border: 2px solid #D6D6D6;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 5;
}

.landingSliderArrowBtnLeft:hover {
    border: 2px solid #B4286B;
}

.landingSliderArrowBtnRight:hover {
    border: 2px solid #B4286B;
}

.landingSliderArrowBtnLeft > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingSliderArrowBtnRight > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1080px) {
    .landingSliderArrowBtnLeft {
        left: 45%;
    }

    .landingSliderArrowBtnRight {
        left: 55%;
    }
}

@media (max-width: 1024px) {
    .sliderContainer {
        max-width: none;
    }
}

@media (max-width: 768px) {
    .sliderContainer {
        max-width: unset;
    }

    .landingSliderArrowBtnLeft {
        display: none;
    }

    .landingSliderArrowBtnRight {
        display: none;
    }
}