.homePageSmallHeader {
    width: fit-content;
    margin: 0 auto;
    font-family: 'Roboto Thin';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1em;
    text-align: center;
    text-transform: lowercase;
    color: #29A3FF;
}

.homePageHeader {
    width: fit-content;
    margin: 0 auto;
    font-family: 'Nunito';
    font-size: 96px;
    line-height: 131px;
    color: white;
}

.homePageLinkButton {
    margin: 65px auto 0;
}

@media (max-width: 475px) {
    .homePageSmallHeader {
        line-height: 35px;
    }

    .homePageHeader {
        font-size: 70px;
    }

    .homePageHeaderMotionWrapper {
        margin-top: 80px;
    }
}

@media (max-width: 320px) {
    .homePageSmallHeader {
        line-height: 30px;
        font-size: 17px;
    }

    .homePageHeader {
        font-size: 70px;
    }
}