.cardWrapper {
    width: 25%;
    position: relative;
    background-color: #25143A;
    padding: 73px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s ease;
}

.cardWrapper:hover {
    background-color: #2A1742;
}

.cardCircle {
    width: 188px;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #311D4A;
}

.cardTitle {
    width: 100%;
    height: 42px;
    font-family: 'Roboto Light';
    margin-top: 47px;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.cardText {
    margin-top: 18px;
    margin-bottom: 52px;
    font-family: 'Roboto Light';
    font-size: 16px;
    line-height: 19px;
    color: #9F96AA;
}

.cardList {
    margin: 5px 0;
    list-style-position: inside;
}

.cardButton {
    display: none;
}

.cardButtonOnHover {
    position: absolute;
    bottom: 60px;
}

@media (max-width: 1024px) {
    .cardWrapper {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 768px) {
    .cardButton {
        display: flex;
        position: absolute;
        bottom: 50px;
    }
}

@media (max-width: 480px) {
    .cardWrapper {
        padding: 73px 30px;
    }

    .cardButtonOnHover {
        display: none;
    }
}
