.contentTitle {
    margin-bottom: 58px;
    font-family: "Roboto Light";
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #000000;
}

.contentWrapper {
    display: flex;
    column-gap: 149px;
}

.listTitle {
    max-width: 208px;
    height: 58px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #6377FF;
}

.list {
    font-family: 'Roboto Light';
    font-size: 16px;
    line-height: 40px;
    color: #1D1D1D;
    list-style-position: inside;
}

@media (max-width: 1080px) {
    .contentWrapper {
        display: flex;
        column-gap: 35px;
    }
}

@media (max-width: 480px) {
    .contentWrapper {
        flex-wrap: wrap;
        column-gap: 10px;
        justify-content: center;
        row-gap: 10px;
    }

    .contentTitle {
        margin-bottom: 30px;
        font-size: 35px;
        line-height: 35px;
    }

    .listTitle {
        height: fit-content;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 16px;
        white-space: nowrap;
    }
}