:root {
    --font-base-stack: Arial, sans-serif;
    --font-regular: "RobotoRegular", var(--font-base-stack);
    --font-light: "RobotoLight", var(--font-base-stack);
    --font-thin: "RobotoThin", var(--font-base-stack);
    --font-medium: "BasisMedium", var(--font-base-stack);
}