:root {
    --color-purple: #1D1034;
    --color-crimson: #B4286B;
    --color-light-grey: #979797;
    --color-white: #ffffff;
    --color-black: #000000;

    /*--nav-bar-height: 80px;*/
    /*--content-max-width: 1600px;*/
    /*--content-padding-small: 20px;*/
    /*--content-padding-medium: 100px;*/
}