.homePageAboutUs {
    background-color: #ffffff;
    padding: 107px 0 127px;
    position: relative;
}

.homePageAboutUsImg {
    position: absolute;
    top: 130px;
}

.homePageAboutUsHeader {
    font-family: 'Roboto Light';
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.homePageAboutUsTextWrapper {
    display: flex;
    margin-top: 44px;
    column-gap: 147px;
    font-family: 'Roboto Light';
    font-size: 16px;
    line-height: 40px;
    color: #000000;
}

.homePageAboutUsText {
    width: 446px;
}

@media(max-width: 1630px) {
    .homePageAboutUsImg {
        left: -110px;
    }
}

@media(max-width: 1390px) {
    .homePageAboutUsImg {
        left: -160px;
    }
}

@media(max-width: 1300px) {
    .homePageAboutUsImg {
        display: none;
    }
}

@media(max-width: 480px) {
    .homePageAboutUs {
        padding: 60px 0;
    }

    .homePageAboutUsHeader {
        text-align: center;
    }

    .homePageAboutUsTextWrapper {
        text-align: center;
        flex-direction: column;
    }

    .homePageAboutUsText {
        width: 100%;
    }
}