/*@import-normalize;*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.slick-slide {
  height: 659px !important;
}

.slick-track {
  display: flex !important;
}
.slick-track .slick-slide {
  display: flex !important;
  height: auto;
  padding-top: 149px;
  justify-content: center;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2'),
  url(./assets/fonts/Roboto-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(./assets/fonts/Roboto-Light.woff2) format('woff2'),
  url(./assets/fonts/Roboto-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url(./assets/fonts/Roboto-Thin.woff2) format('woff2'),
  url(./assets/fonts/Roboto-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url(./assets/fonts/Nunito-Regular.woff2) format('woff2'),
  url(./assets/fonts/Nunito-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (max-width: 768px) {
  .slick-track .slick-slide {
    padding: 149px 0 40px;
  }
}

@media (max-width: 375px) {
  .slick-track .slick-slide {
    padding: 115px 0 40px;
  }
}
