/*@import-normalize;*/

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

div {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.slick-slide {
  height: 659px !important;
}

/*.slick-arrow {*/
/*  width: 48px !important;*/
/*  height: 48px !important;*/
/*  position: absolute;*/
/*  bottom: 112px !important;*/
/*  border: 2px solid #D6D6D6;*/
/*}*/

/*.slick-next {*/
/*  position: absolute;*/
/*  right: 48%;*/
/*  bottom: 112px;*/
/*  transform: rotate(180deg) translateX(-48%);*/
/*}*/

/*.slick-prev {*/
/*  position: absolute;*/
/*  bottom: 112px;*/
/*  left: 48%;*/
/*  transform: translateX(-48%);*/
/*}*/

/*.slick-arrow:hover {*/
/*  border: 2px solid #B4286B;*/
/*}*/

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2'),
  url(./assets/fonts/Roboto-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(./assets/fonts/Roboto-Light.woff2) format('woff2'),
  url(./assets/fonts/Roboto-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url(./assets/fonts/Roboto-Thin.woff2) format('woff2'),
  url(./assets/fonts/Roboto-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url(./assets/fonts/Nunito-Regular.woff2) format('woff2'),
  url(./assets/fonts/Nunito-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
