.homePageSmallHeader {
  width: fit-content;
  margin: 0 auto;
  font-family: 'Roboto Thin';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1em;
  text-transform: lowercase;
  color: #29A3FF;
}

.homePageHeader {
  width: fit-content;
  margin: 0 auto;
  font-family: 'Nunito';
  font-size: 96px;
  line-height: 131px;
  color: white;
}

.homePageLinkButton {
  margin: 65px auto 0;
}

.homePageAboutUs {
  background-color: #ffffff;
  padding: 112px 0 113px;
}

.homePageAboutUsHeader {
  font-family: 'Roboto Light';
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}