.homePageCardsWrapper {
  display: flex;
}

.webDesignHeaderStyle {
  color: #ffffff;
}

.webDesignTextStyle {
  color: #ffffff;
}

.homePageInputSectionWrapper {
  padding: 171px 0 179px 122px;
}

.inputWrapper {
  width: 924px;
  padding: 71px 72px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 15px 40px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: "Roboto Light";
}

.inputHeader {
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  text-transform: unset;
}

.inputLine {
  width: 64px;
  height: 1px;
  display: block;
  background-color: #E4E4E4;
  margin: 10px 0 13px;
}

.inputDescription {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.formButton {
  color: #000000;
  border-color: #B4286B;
  transition: all 0.5s ease;
}

.formButton:hover {
  color: #FFFFFF;
}

.formTextAreaWrapper {
  width: 448px;
  position: relative;
  margin-bottom: 40px;
}

.textAreaLine {
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  left: 51px;
  top: 18px;
  background-color: #EFEFEF;
}

.formTextArea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 8px 0 8px 64px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  resize: none;
  font-family: "Roboto Light";
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  outline-color: #B8B8B8;
}

.formTextArea::placeholder {
  color: #B6B6B6;
}

.infoCard {
  width: 447px;
  max-height: 494px;
  padding: 0 50px 55px;
  position: absolute;
  border-radius: 6px;
  right: -238px;
  top: 50%;
  transform: translateY(-50%);
}

.animateCardWrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.infoCardImgWrapper {
  text-align: center;
}

.infoCardContentWrapper {
  margin-top: 58px;
}

.infoCardContent {
  margin-bottom: 43px;
  display: flex;
  align-items: flex-start;
  color: #FFFFFF;
  font-family: "Roboto Light";
  font-size: 16px;
  line-height: 25px;

}

.infoCardContentListAlign {
  align-items: center;
}

.infoCardContentImgLoc {
  margin-right: 11px;
}

.infoCardContentImgEmail {
  margin-left: 3px;
  margin-right: 17px;
}

.infoCardContentImgPhone {
  margin-left: 8px;
  margin-right: 19px;
}

.infoCardContentList {
  list-style: none;
}

.infoCardContentSocialsWrapper {
  display: flex;
  margin-top: 10px;
}

.infoCardContentSocial:nth-child(2) {
  margin: 0 10px;
}